.finance {
    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__back-btn {
        margin-right: 15px;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
    }

    &__tabs-item {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #1f75a1;
        border-radius: 5px;

        color: #1f75a1;
    }

    &__box {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #1f75a1;
        border-radius: 5px;

        color: #fff;
        text-align: center;
    }
}
